body{
  background-image:url(https://st4.depositphotos.com/7595566/20454/i/1600/depositphotos_204546392-stock-photo-flat-lay-styled-office-desk.jpg) ;       
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  background-position: center;
  
  font-weight: normal;
  text-shadow: 1px 1px 2px #082b34;
  


















}
